<div class="container">
    <div class="row">
        <div class="col text-center">
            <!-- Gambar -->
            <img src="img/mango.png" alt="" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Bone</h1>
            <p class="lead">Mahasiswa</p>
        </div>
    </div>
</div>